

services:
  quake_server:
    image: moisesber/quaken:latest
    container_name: quake_server
    ports:
      - "26000:26000/udp"
    volumes:
      - ./quake_data:/nquakesv/id1     # Mounta din id1 mapp till det som imagen förväntar sig
      - ./quake_data/maps:/nquakesv/modules
    environment:
      - GAME_DIR=id1                   # Exempel, beroende på image‑specifikation
      - CONFIG_FILE=server.cfg
    restart: unless-stopped

  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
      - SERVERURL=auto
      - SERVERPORT=51820
      - PEERS=20
      - PEERDNS=1.1.1.1
    volumes:
      - ./wg-config:/config
    ports:
      - "51820:51820/udp"
    networks:
      - wg_network
    
    restart: unless-stopped

networks:
  default:
    driver: bridge